section.cover {
  h1 {
    color: $oc-blue-7;
    font-size: 2.5em;
    margin: 0;
  }

  h3 {
    color: $oc-gray-7;
    background: $oc-gray-0;
    z-index: 2;
    padding-left: 15px;
    padding-right: 15px;
  }

  h3.top {
    margin-bottom: -0.8em;
    font-size: .6em;
    align-self: flex-start;
    margin-left: 15%;
  }

  h3.bottom {
    margin-top: -0.5em;
    font-size: 1em;
    align-self: flex-end;
    margin-right: 15%;
  }

  h4 {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    color: $oc-blue-7;
    text-transform: none;
  }

  .title-frame {
    border: .15em solid $oc-blue-7;
    border-radius: .8em;
    width: 80%;
    padding: .5em;
  }

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
